generated_data/xsd/myTest3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:yin="urn:ietf:params:xml:schema:yang:yin:1"
           targetNamespace="http://myTest.com/ns/yang/myTest-test-myVer-crypto-sam-cfg"
           xmlns="http://myTest.com/ns/yang/myTest-test-myVer-crypto-sam-cfg"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2013-07-22"
           xml:lang="en"
          xmlns:crypto-sam-cfg="http://myTest.com/ns/yang/myTest-test-myVer-crypto-sam-cfg">

  <xs:annotation>
    <xs:documentation>
      This schema was generated from the YANG module myTest-test-myVer-crypto-sam-cfg

      The schema describes an instance document consisting
      of the entire configuration data store, operational
      data, rpc operations, and notifications.
      This schema can thus NOT be used as-is to
      validate NETCONF PDUs.
    </xs:documentation>
  </xs:annotation>

  <xs:annotation>
    <xs:documentation>
      This module contains a collection of YANG definitions
      for myTest test-myVer crypto-sam package configuration.

      This module contains definitions
      for the following management objects:
        crypto: Crypto configuration

       myTest .
      All rights reserved.
    </xs:documentation>
  </xs:annotation>

  <!-- YANG typedefs -->
  <xs:simpleType name="Crypto-sam-action">
    <xs:annotation>
      <xs:documentation>
        Crypto sam action
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="proceed"/>
      <xs:enumeration value="terminate"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="crypto">
    <xs:annotation>
      <xs:documentation>
        Crypto configuration
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sam" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Software Authentication Manager (SAM) Config
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="prompt-interval" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Set prompt interval at reboot time
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="action"  type="Crypto-sam-action">
                      <xs:annotation>
                        <xs:documentation>
                          Respond to SAM prompt either Proceed/Terminate
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="prompt-time">
                      <xs:annotation>
                        <xs:documentation>
                          Prompt time from 0 - 300 seconds
                        </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:unsignedInt">
                          <xs:minInclusive value="0"/>
                          <xs:maxInclusive value="300"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:any minOccurs="0" maxOccurs="unbounded"
                            namespace="##other" processContents="lax"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:any minOccurs="0" maxOccurs="unbounded"
                      namespace="##other" processContents="lax"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any minOccurs="0" maxOccurs="unbounded"
                namespace="##other" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
