generated_data/xsd/myTest7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:yin="urn:ietf:params:xml:schema:yang:yin:1"
           targetNamespace="http://myTest.com/ns/yang/myTest-test-myVer-aaa-lib-cfg"
           xmlns="http://myTest.com/ns/yang/myTest-test-myVer-aaa-lib-cfg"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2013-07-22"
           xml:lang="en"
          xmlns:myVer="http://myTest.com/ns/yang/myTest-myVer-types"
          xmlns:aaa-lib-cfg="http://myTest.com/ns/yang/myTest-test-myVer-aaa-lib-cfg">

  <xs:import namespace="http://myTest.com/ns/yang/myTest-myVer-types"
             schemaLocation="myTest-test-myVer-types.xsd"/>

  <xs:annotation>
    <xs:documentation>
      This schema was generated from the YANG module myTest-test-myVer-aaa-lib-cfg

      The schema describes an instance document consisting
      of the entire configuration data store, operational
      data, rpc operations, and notifications.
      This schema can thus NOT be used as-is to
      validate NETCONF PDUs.
    </xs:documentation>
  </xs:annotation>

  <xs:annotation>
    <xs:documentation>
      This module contains a collection of YANG definitions
      for myTest test-myVer aaa-lib package configuration.

      This module contains definitions
      for the following management objects:
        aaa: Authentication, Authorization and Accounting

       myTest .
      All rights reserved.
    </xs:documentation>
  </xs:annotation>

  <!-- YANG typedefs -->
  <xs:simpleType name="Aaa-port-range">
    <xs:annotation>
      <xs:documentation>
        Aaa port range
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="65535"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Aaa-accounting">
    <xs:annotation>
      <xs:documentation>
        Aaa accounting
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="not-set"/>
      <xs:enumeration value="start-stop"/>
      <xs:enumeration value="stop-only"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Aaa-accounting-rp-failover"/>
  <xs:complexType name="Aaa-accounting-broadcast"/>
  <xs:simpleType name="Aaa-method">
    <xs:annotation>
      <xs:documentation>
        Aaa method
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="not-set"/>
      <xs:enumeration value="none"/>
      <xs:enumeration value="local"/>
      <xs:enumeration value="radius"/>
      <xs:enumeration value="tacacs-plus"/>
      <xs:enumeration value="dsmd"/>
      <xs:enumeration value="sgbp"/>
      <xs:enumeration value="acct-d"/>
      <xs:enumeration value="error"/>
      <xs:enumeration value="if-authenticated"/>
      <xs:enumeration value="server-group"/>
      <xs:enumeration value="server-group-not-defined"/>
      <xs:enumeration value="line"/>
      <xs:enumeration value="enable"/>
      <xs:enumeration value="kerberos"/>
      <xs:enumeration value="last"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Aaa-accounting-update">
    <xs:annotation>
      <xs:documentation>
        Aaa accounting update
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:enumeration value="none"/>
      <xs:enumeration value="newinfo"/>
      <xs:enumeration value="periodic"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="aaa">
    <xs:annotation>
      <xs:documentation>
        Authentication, Authorization and Accounting
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="accountings" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              AAA accounting
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="accounting" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    Configurations related to accounting
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="type"  type="myVer:myTest-test-myVer-string">
                      <xs:annotation>
                        <xs:documentation>
                          exec:Account exec sessions, commands: Account
                          CLI commands
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="listname"  type="myVer:myTest-test-myVer-string">
                      <xs:annotation>
                        <xs:documentation>
                          Named accounting list
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="rp-failover" minOccurs="0"  type="Aaa-accounting-rp-failover">
                      <xs:annotation>
                        <xs:documentation>
                          rpfailover
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="broadcast" minOccurs="0"  type="Aaa-accounting-broadcast">
                      <xs:annotation>
                        <xs:documentation>
                          Broadcast
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="method" minOccurs="1" maxOccurs="4"  type="Aaa-method">
                      <xs:annotation>
                        <xs:documentation>
                          Method Types
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="server-group-name" minOccurs="1" maxOccurs="4"  type="myVer:myTest-test-myVer-string">
                      <xs:annotation>
                        <xs:documentation>
                          Server group names
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:any minOccurs="0" maxOccurs="unbounded"
                            namespace="##other" processContents="lax"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:any minOccurs="0" maxOccurs="unbounded"
                      namespace="##other" processContents="lax"/>
            </xs:sequence>
          </xs:complexType>
          <xs:key name="key_accountings_aaa_accounting">
            <xs:selector xpath="aaa-lib-cfg:accounting"/>
            <xs:field xpath="aaa-lib-cfg:type"/>
            <xs:field xpath="aaa-lib-cfg:listname"/>
          </xs:key>
        </xs:element>
        <xs:element name="authorizations" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              AAA authorization
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="authorization" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    Configurations related to authorization
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="type"  type="myVer:myTest-test-myVer-string">
                      <xs:annotation>
                        <xs:documentation>
                          network: Authorize IKE requests, commands:
                          Authorize CLI commands
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="listname"  type="myVer:myTest-test-myVer-string">
                      <xs:annotation>
                        <xs:documentation>
                          List name for AAA authorization
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="method" minOccurs="1" maxOccurs="4"  type="Aaa-method">
                      <xs:annotation>
                        <xs:documentation>
                          Methods
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="server-group-name" minOccurs="1" maxOccurs="4"  type="myVer:myTest-test-myVer-string">
                      <xs:annotation>
                        <xs:documentation>
                          Server group names
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:any minOccurs="0" maxOccurs="unbounded"
                            namespace="##other" processContents="lax"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:any minOccurs="0" maxOccurs="unbounded"
                      namespace="##other" processContents="lax"/>
            </xs:sequence>
          </xs:complexType>
          <xs:key name="key_authorizations_aaa_authorization">
            <xs:selector xpath="aaa-lib-cfg:authorization"/>
            <xs:field xpath="aaa-lib-cfg:type"/>
            <xs:field xpath="aaa-lib-cfg:listname"/>
          </xs:key>
        </xs:element>
        <xs:element name="accounting-update" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              Configuration related to 'update' accounting
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="type"  type="Aaa-accounting-update">
                <xs:annotation>
                  <xs:documentation>
                    newinfo/periodic
                  </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="periodic-interval" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>
                    Periodic update interval in minutes
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:unsignedInt">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="35791394"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:any minOccurs="0" maxOccurs="unbounded"
                      namespace="##other" processContents="lax"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="authentications" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              AAA authentication
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="authentication" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    Configurations related to authentication
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="type"  type="myVer:myTest-test-myVer-string">
                      <xs:annotation>
                        <xs:documentation>
                          login: Authenticate login sessions, ppp:
                          Authenticate ppp sessions
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="listname"  type="myVer:myTest-test-myVer-string">
                      <xs:annotation>
                        <xs:documentation>
                          List name for AAA authentication
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="method" minOccurs="1" maxOccurs="4"  type="Aaa-method">
                      <xs:annotation>
                        <xs:documentation>
                          Methods
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="server-group-name" minOccurs="1" maxOccurs="4"  type="myVer:myTest-test-myVer-string">
                      <xs:annotation>
                        <xs:documentation>
                          Server group names
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:any minOccurs="0" maxOccurs="unbounded"
                            namespace="##other" processContents="lax"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:any minOccurs="0" maxOccurs="unbounded"
                      namespace="##other" processContents="lax"/>
            </xs:sequence>
          </xs:complexType>
          <xs:key name="key_authentications_aaa_authentication">
            <xs:selector xpath="aaa-lib-cfg:authentication"/>
            <xs:field xpath="aaa-lib-cfg:type"/>
            <xs:field xpath="aaa-lib-cfg:listname"/>
          </xs:key>
        </xs:element>
        <xs:any minOccurs="0" maxOccurs="unbounded"
                namespace="##other" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
