generated_data/xsd/myTest6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:yin="urn:ietf:params:xml:schema:yang:yin:1"
           targetNamespace="http://myTest.com/ns/yang/myTest-test-myVer-ip-domain-cfg"
           xmlns="http://myTest.com/ns/yang/myTest-test-myVer-ip-domain-cfg"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="2013-07-22"
           xml:lang="en"
          xmlns:myVer="http://myTest.com/ns/yang/myTest-myVer-types"
          xmlns:ip-domain-cfg="http://myTest.com/ns/yang/myTest-test-myVer-ip-domain-cfg"
          xmlns:inet="urn:ietf:params:xml:ns:yang:ietf-inet-types">

  <xs:import namespace="urn:ietf:params:xml:ns:yang:ietf-inet-types"
             schemaLocation="ietf-inet-types.xsd"/>
  <xs:import namespace="http://myTest.com/ns/yang/myTest-myVer-types"
             schemaLocation="myTest-test-myVer-types.xsd"/>

  <xs:annotation>
    <xs:documentation>
      This schema was generated from the YANG module myTest-test-myVer-ip-domain-cfg

      The schema describes an instance document consisting
      of the entire configuration data store, operational
      data, rpc operations, and notifications.
      This schema can thus NOT be used as-is to
      validate NETCONF PDUs.
    </xs:documentation>
  </xs:annotation>

  <xs:annotation>
    <xs:documentation>
      This module contains a collection of YANG definitions
      for myTest test-myVer ip-domain package configuration.

      This module contains definitions
      for the following management objects:
        ip-domain: IP domain configuration

       myTest .
      All rights reserved.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="ip-domain">
    <xs:annotation>
      <xs:documentation>
        IP domain configuration
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vrfs" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              VRF table
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="vrf" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>
                    VRF specific data
                  </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="vrf-name"  type="myVer:myTest-test-myVer-string">
                      <xs:annotation>
                        <xs:documentation>
                          Name of the VRF instance
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ipv6-hosts" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>
                          IPv6 host
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ipv6-host" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>
                                Host name and up to 4 host IPv6 addresses
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="host-name"  type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>
                                      A hostname
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="address" minOccurs="1" maxOccurs="4"  type="inet:ipv6-address">
                                  <xs:annotation>
                                    <xs:documentation>
                                      Host IPv6 addresses
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:any minOccurs="0" maxOccurs="unbounded"
                                        namespace="##other" processContents="lax"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:any minOccurs="0" maxOccurs="unbounded"
                                  namespace="##other" processContents="lax"/>
                        </xs:sequence>
                      </xs:complexType>
                      <xs:key name="key_ipv6-hosts_vrf_vrfs_ip-domain_ipv6-host">
                        <xs:selector xpath="ip-domain-cfg:ipv6-host"/>
                        <xs:field xpath="ip-domain-cfg:host-name"/>
                      </xs:key>
                    </xs:element>
                    <xs:element name="lookup" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>
                          Disable Domain Name System hostname
                          translation
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType/>
                    </xs:element>
                    <xs:element name="source-interface" minOccurs="0"  type="myVer:Interface-name">
                      <xs:annotation>
                        <xs:documentation>
                          Interface name
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="ipv4-hosts" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>
                          IPv4 host
                        </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ipv4-host" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>
                                Host name and up to 8 host IPv4 addresses
                              </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="host-name"  type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>
                                      A hostname
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="address" minOccurs="1" maxOccurs="8"  type="inet:ipv4-address">
                                  <xs:annotation>
                                    <xs:documentation>
                                      Host IPv4 addresses
                                    </xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:any minOccurs="0" maxOccurs="unbounded"
                                        namespace="##other" processContents="lax"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:any minOccurs="0" maxOccurs="unbounded"
                                  namespace="##other" processContents="lax"/>
                        </xs:sequence>
                      </xs:complexType>
                      <xs:key name="key_ipv4-hosts_vrf_vrfs_ip-domain_ipv4-host">
                        <xs:selector xpath="ip-domain-cfg:ipv4-host"/>
                        <xs:field xpath="ip-domain-cfg:host-name"/>
                      </xs:key>
                    </xs:element>
                    <xs:element name="name" minOccurs="0"  type="myVer:myTest-test-myVer-string">
                      <xs:annotation>
                        <xs:documentation>
                          Default domain name
                        </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:any minOccurs="0" maxOccurs="unbounded"
                            namespace="##other" processContents="lax"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:any minOccurs="0" maxOccurs="unbounded"
                      namespace="##other" processContents="lax"/>
            </xs:sequence>
          </xs:complexType>
          <xs:key name="key_vrfs_ip-domain_vrf">
            <xs:selector xpath="ip-domain-cfg:vrf"/>
            <xs:field xpath="ip-domain-cfg:vrf-name"/>
          </xs:key>
        </xs:element>
        <xs:element name="ipv6-host-table" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              IPv6 host
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded"
                      namespace="##other" processContents="lax"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ipv4-host-table" minOccurs="0">
          <xs:annotation>
            <xs:documentation>
              IPv4 host
            </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded"
                      namespace="##other" processContents="lax"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any minOccurs="0" maxOccurs="unbounded"
                namespace="##other" processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
